.DS_Store
.idea
*.log
tmp/

*.aux
*.dvi
*.bbl
*.fls
*.toc
*.blg
*.brf
*.log
*.out
*.out.ps
*.sed
*.synctex.gz
*.nav
*.snm
*.idx
*.ilg
*.ind
*.auctex-auto/
*.fdb_latexmk
_region_.*
build/
*.run.xml
*.cls
*.thm
*.nlo
*.bcf
